[pipenv]
allow_prereleases = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nlp100-answer = {editable = true, path = "."}
flake8 = "*"
black = "*"
isort = "*"
pylint = "*"
mypy = "*"
tox = "*"

[packages]
nlp100-answer = {editable = true, path = "."}

[requires]
python_version = "3.8"
